.production {
  padding: 170px 0 170px;
}
.production__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.production__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 54px;

  text-transform: uppercase;

  color: #000000;
  margin-bottom: 15px;
}

.production__text {
  width: 484px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #000000;
  margin-bottom: 42px;
}
.proCard {
  width: 492.84px;
  height: 199.8px;
  padding: 17px;
  background-color: #ffffff;
  border: 0.8325px solid #D9DCEC;
  border-radius: 8.325px;
  display: flex;
  margin-bottom: 13px;
}
.proCard:hover {
  border: 3px solid #037b35;
  transition: 300ms;
  padding: 15px;

}
.proCard__context {
    padding: 25px;
}
.proCard__context h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;

  text-transform: uppercase;

  color: #000000;
  margin-bottom: 13px;
}

.proCard__context p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11.655px;
  line-height: 20px;
  /* or 171% */

  color: #000000;
}
